/**
 * @name Black Organization
 * @author Rons Catfish
 * @version 1.0.X
 * @description A theme with Gin, Vodka & Vermouth from Meitantei Konan
 * @source https://github.com/Ford-F150/Meitantei-Konan-Themes/tree/main/Black%20Organization
 */

@import url('https://raw.githack.com/Ruben7173/Ruben7173.github.io/master/BetterDiscord-Themes/Modules/transparency2.css');
@import url('https://raw.githubusercontent.com/Ford-F150/Meitantei-Konan-Themes/main/Black%20Organization/core.css');

:root{
    --background: url('https://github.com/Ford-F150/Meitantei-Konan-Themes/blob/main/Black%20Organization/394219.jpg?raw=true');
    --activetext-colour: white;

    --primary1-colour: rgb(29, 0, 158);
    --primary2-colour: rgba(32, 3, 197, 0.5);
    --primary3-colour: rgba(7, 4, 201, 0.6);

    --secondary1-colour: rgba(50,50,50,0.3);
    --secondary2-colour: rgba(100,100,100,0.5);
    --secondary3-colour: rgba(0,0,0,0.5);

    --transparency-1: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    --transparency-2: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    --transparency-3: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    --transparency-4: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    --transparency-5: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}
  
/*
Theme Owned and Made by ronscatfish
  
Background Image: http://gallery.minitokyo.net/view/394219 by Gosho Aoyama
Transparency CSS: https://raw.githack.com/Ruben7173/Ruben7173.github.io/master/BetterDiscord-Themes/Modules/transparency2.css - By Ruben7173#5048

^Copyrights by respective owners. I do not own the sources above^
*/
